


<h4><%= truncate(book.title, length: 60) %></h4>
<p>
  <%= book.call_number %><br>
  <%= Time.now.to_date.to_s(:long_ordinal) %>
</p>

<p><%= pluralize(book.number_of_libraries, 'library', 'libraries') %> hold this title.</p>
<p>ND Holdings: <%= book.nd_holdings %></p>
<p>Number of Loans: <%= book.number_of_loans %></p>

<hr>

<p><strong>Available</strong></p>

<p>Books in Print: <%= link_to_reformatting_url(book.books_in_print_url) %> </p>
<p>Internet Archive: <%= link_to_reformatting_url(book.internet_active_url) %></p>
<p>Hathi Trust:<%= link_to_reformatting_url(book.hathi_trust_url) %></p>
<p>Microfilm Only: <%= book.microfilm_only ? 'Yes' : 'No' %></p>

<hr>

<p><strong>Decision</strong></p>

<ul class="unstyled" style="padding-bottom: 20px;">
  <li><%= image_tag 'check-box-empty.gif' %> Withdraw</li>
  <li><%= image_tag 'check-box-empty.gif' %> Photoduplication</li>
  <li><%= image_tag 'check-box-empty.gif' %> Microfilm ND</li>
  <li><%= image_tag 'check-box-empty.gif' %> Digital Link</li>
  <li><%= image_tag 'check-box-empty.gif' %> Purchase Reprint</li>
  <li><%= image_tag 'check-box-empty.gif' %> Purchase Microfilm</li>
  <li><%= image_tag 'check-box-empty.gif' %> Box</li>
  <li><%= image_tag 'check-box-empty.gif' %> Return to Shelf</li>
  <li><%= image_tag 'check-box-empty.gif' %> Send to Special Collections</li>
  <li>Fund Code: </li>
</ul>

