<h4><%= truncate(book.title, length: 60) %></h4>
<p>
  <%= book.call_number %><br>
  System Number: <%= book.document_number %>
</p>
<p>
  Loans Since 1998: <%= book.number_of_loans %><br />
  ND Holdings: <%= book.nd_holdings %><br />
  Library Holdings per WorldCat: <%= pluralize(book.number_of_libraries, 'library', 'libraries') %> hold this title.</p>
  Internet Archive: <%= print_reformatting_url(book.internet_active_url) %><br />
  Hathi Trust: <%= print_reformatting_url(book.hathi_trust_url) %>
</p>

<strong>Notes:</strong>

<%= simple_format(book.notes_for_selector) %>

<hr>

<p><strong>Selector Decision</strong></p>

<p>Preservation Surrogate</p>
<ul class="unstyled" style="padding-bottom: 20px;">
  <li><%= image_tag 'check-box-empty.gif' %> Digitize and Pring Reproduction</li>
  <li><%= image_tag 'check-box-empty.gif' %> Digitize</li>
  <li><%= image_tag 'check-box-empty.gif' %> No Action</li>
</ul>
<p>Preservation of the Original</p>
<ul class="unstyled" style="padding-bottom: 20px;">
  <li><%= image_tag 'check-box-empty.gif' %> Retain</li>
  <li><%= image_tag 'check-box-empty.gif' %> Retain and Transfer to Special Collections</li>
  <li><%= image_tag 'check-box-empty.gif' %> Withdraw</li>
</ul>
