<% content_for(:content_title_links) do %>
  <%= link_to 'Print Book Slip', reformattings_print_slips_path(ids: book_form.id), class: 'btn btn-success', target: 'blank' %>
<% end %>
<h3>Selector Decision</h3>

<ul class="unstyled">
  <% if book_form.book.withdraw %>
    <li><i class="icon icon-check"></i> Withdraw</li>
  <% end %>

  <% if book_form.book.photodup %>
    <li><i class="icon icon-check"></i> Photoduplication</li>
  <% end %>

  <% if book_form.book.microfilm_nd %>
    <li><i class="icon icon-check"></i> Microfilm ND</li>
  <% end %>

  <% if book_form.book.digital_link %>
    <li><i class="icon icon-check"></i> Digital Link</li>
  <% end %>

  <% if book_form.book.purchase_reprint %>
    <li><i class="icon icon-check"></i> Purchase Reprint</li>
  <% end %>

  <% if book_form.book.purchase_microfilm %>
    <li><i class="icon icon-check"></i> Purchase Reprint</li>
  <% end %>

  <% if book_form.book.return_to_shelf %>
    <li><i class="icon icon-check"></i> Return to Shelf</li>
  <% end %>

  <% if book_form.book.send_to_special_collections %>
    <li><i class="icon icon-check"></i> Send to Special Collections</li>
  <% end %>

  <% if book_form.book.fund_code.present? %>
    <li>Fund Code: <%= book_form.book.fund_code %></li>
  <% end %>
</ul>

<strong>Notes From Selector</strong>
<%= simple_format(book_form.book.notes_from_selector) %>

<% if book_form.book.status == 'decisioned' %>
  <%= simple_form_for book_form, :url => reformatting_path(book_form.id), :method => 'put' do | f | %>
    <%= hidden_field_tag 'goto_previous_step', 1 %>
    <%= f.submit "Go back a step" %>
  <% end %>
<% end %>
