<h3>Decisioning Infromation</h3>

<p class="form-help">
  Enter information for the selector to make a decision.
</p>

<%= simple_form_for book_form, :url => reformatting_path(book_form.id), :method => 'put' do | f | %>

  <%= f.input :nd_holdings %>

  <%= f.input :number_of_loans %>

  <%= f.input :number_of_libraries %>

  <%= f.input :hathi_trust_url %>

  <%= f.input :books_in_print_url %>

  <%= f.input :internet_active_url %>

  <%= f.input :microfilm_only, as: :boolean %>

  <%= f.input :notes_for_selectornotes_for_selector do %>
    <%= f.input_field :notes_for_selector, as: "text", rows: 3, style: "width: 100%" %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Ready for Selector", :class => 'btn-primary' %>
  </div>
<% end %>
