
<%= render partial: 'book_header', locals: { book: @form.book } %>

<div class="two columns">
  <h4>Useful Links</h4>
  <ul class="unstyled">
    <li><%= FrbrGroupSearchLink.new(@form.book.frbr_group_id, @form.book.document_number).link %></li>
    <li><%= WorldCatOclcNumberLink.new(@form.book.oclc_number).link %></li>
    <li><%= HathiTrustSearchLink.new(@form.book.title).link %></li>
    <li><%= InternetArchiveSearchLink.new(@form.book.title).link %></li>
  </ul>
  <hr>
  <dl>
    <dt>Publisher</dt>
    <dd><%= @form.book.publisher %></dd>
    <dt>Call Number</dt>
    <dd><%= @form.book.call_number %></dd>
    <dt>Barcode</dt><dd><%= @form.book.barcode %></dd>
    <dt>System Number</dt><dd><%= @form.book.document_number.rjust(9, '0') %></dd>
    <dt>Status</dt><dd><%= @form.book.status %></dd>
  </dl>

</div>

<div class="four columns">
  <%= render @form.section1 %>
</div>
<div class="one column">
  &nbsp;
</div>
<div class="four columns">
  <%= render @form.section2 %>
</div>
<div class="twelve columns">
  <%= render @form.section3 %>
</div>
