
<%= render partial: 'book_header', locals: { book: @form.book } %>

<div class="two columns">
  <h4>Useful Links</h4>
  <ul class="unstyled">
    <li><%= FrbrGroupSearchLink.new(@form.book.frbr_group_id, @form.book.document_number).link %></li>
    <li><%= WorldCatOclcNumberLink.new(@form.book.oclc_number).link %></li>
    <li><%= InternetArchiveSearchLink.new(@form.book.title).link %></li>
    <li><%= BooksInPrintSearchLink.new(@form.book.title).link %></li>
  </ul>
</div>
<div class="four columns">
  <%= render @form.section1 %>
</div>
<div class="one column">
  &nbsp;
</div>
<div class="four columns">
  <%= render @form.section2 %>
</div>
<div class="twelve columns">
  <%= render @form.section3 %>
</div>
