<div class="print">
  <div class="page_break">
    <h2>Reel Contents <br><%= @reel.name %></h2>
    <ol>
      <% @reel.microfilm_volumns.each_with_index do | v, index | %>
        <li><%= v.title %></li>
      <% end %>
    </ol>
  </div>
  <% @reel.microfilm_volumns.each_with_index do | v, index | %>
    <div class="landscape master_negative page_break">
      <h1>Master Negative#:<br><%= v.master_negative %></h1>
    </div>

    <div class="volumn_page landscape page_break">
      <h3><%= v.title %></h3>
      <h4><%= v.reformatting_book.publisher %></h4>
      <h4><%= v.master_negative %></h4>
    </div>
  <% end %>
</div>
