<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Library Reformatting</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />

    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="128x128" href="http://library.nd.edu/icons/favicon-152.png">


    <%= hesburgh_stylesheet_link_tag    "admin", "index.css", :media => "all" %>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= hesburgh_javascript_include_tag "admin", "index.js" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="frame" id="frame">
      <div class="row header">
        <div class="twelve columns">
          <h2>Reformatting</h2>
        </div>
      </div>
      <div class="row menu">
        <div class="twelve columns">
          <%= render partial: '/layouts/main_nav' %>
        </div>
      </div>

      <div class="row content">
        <div class="frame">
          <div class="row breadcrumb hide-on-phones">
            <%
              if !content_for?(:breadcrumb)
                breadcrumb()
              end
            %>
            <div class="twelve columns">
              <p><%= content_for(:breadcrumb) %></p>
            </div>
          </div>
          <% if content_for?(:left_column) %>
            <div class="three columns">
              <%= content_for(:left_column) %>
            </div>
          <% end %>
          <%= display_notices %>
          <%
          content_width = 12
          if content_for?(:left_column)
            content_width -= 3
          end
          if content_for?(:right_column)
            content_width -= 4
          end
          if content_for?(:right_column_wide)
            content_width -= 5
          end
          %>
          <div class="<%= number_to_word(content_width) %> columns">
            <div id="pg-title">
              <% if content_for?(:content_title_links) %>
                <div class="pull-right">
                  <%= content_for(:content_title_links) %>
                </div>
              <% end %>
              <%= content_for(:content_title) %>
            </div>

            <%= yield %>

          </div>
          <% if content_for?(:right_column) %>
            <div class="four columns">
              <%= content_for(:right_column) %>
            </div>
          <% end %>
          <% if content_for?(:right_column_wide) %>
            <div class="five columns">
              <%= content_for(:right_column_wide) %>
            </div>
          <% end %>
        </div>

      </div>

      <%= include_ssi("/local_ssi/responsive/footer.shtml") %>

    </div>
  </body>
</html>
