<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Library Reserves</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />

    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="128x128" href="http://library.nd.edu/icons/favicon-152.png">


    <%= stylesheet_link_tag    "hesburgh_assets/admin/1.0/index.css", :media => "all" %>

    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "hesburgh_assets/admin/1.0/index.js" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

  </head>
  <body class="print">

    <%= yield %>

  </body>
</html>
